

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}


.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.form-container {
  margin-bottom: 20px;
}

.form-input {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  margin: 10px;
}

.form-input[type="submit"] {
  background-color: #007bff;
  width: 20%;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto; 
}
#table {
  width: 100%;
  border-collapse: collapse;
}
#table th,
#table td {
  padding: 8px;
  border: 1px solid #61dafb;
  text-align: left;
}

#table th {
  background-color: #f2f2f2;
}
